<div>
        Rules of the game: 
        <ul>
            <li>
                    Each player starts with 4 cards - three have flowers on them, one has a skull.
            </li>
            <li>
                    At the start of the game, every player picks a card from their hand and puts it face down. The player who starts has two options - they can either place a bet on how many flowers are on the table, or put another card on top of their first.
            </li>
            <li>
                    If bidding has already started, you must either pass or put in a higher bid (if you have passed, you are out of the rest of the round). If bidding hasn't yet started and you have cards in your hand, you have the option to place another card on your stack.
            </li>
            <li>
                    When everyone has finished bidding, the person with the highest bid must try to find the number of flowers they bid on the table. They must turn over all their own stack before they look at anyone else's cards, and the moment they find a skull, they must stop. Stacks must be checked top down, but not necessarily all in one go.
            </li>
            <li>
                    If a player finds the right number of flowers twice, they have won. If they find a skull before they have found the right number of flowers, they must randomly remove one of their cards from play.
            </li>
        </ul>
    </div>