div{
    background-color:#181818;
    color:white;
    height:600px;
    width: calc(100%-200px);
    margin:0;
    padding:150px 100px 100px;
    font-family: 'Roboto Mono', monospace;
}

li{
    margin:10px;
}