div{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid white;
    padding:0;
}

ul{
    list-style-type: none;
    display: inline-block;
    padding:0;
    margin:0;
    // align-items:right;
}

li{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    padding:20px;
}

.large{
    color: purple;
    font-weight: 900;
    font-size: 30pt;
    // align-items: left;
}
.small{
    color:white;
    border-left:2px solid white;
    // justify-content:right;
}