div{
    background-color: black;
    color: white;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid white;
    padding:0;
    position:fixed;
}

ul{
    list-style-type: none;
    display: inline-block;
    padding:0;
    margin:0;
    width:100%;
}

li{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    padding:20px;

}

.large{
    color: purple;
    font-weight: 900;
    font-size: 30pt;
    float:left;

}
.small{
    color:white;
    border-left:2px solid white;
    margin:4px,0px;
    float: right;
    width:150px;
    padding:20px 50px;
    :hover{
        color:mediumpurple;
    }
}